@import url("https://fonts.googleapis.com/css2?family=Lemonada&display=swap");
body{
	background-color: #DCDCDC;
}
.pay_body{	
	height: 45em;
	width: 25em;
	box-shadow: 2em;
	outline-color: black;
	background-color: white;
	margin:auto;
	border-radius: 2em;
	border-style: inset;
	border-color: black;
	
	margin-top: 2em;
	-webkit-box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
}

.approval_body{
	height: 45em;
	width: 30em;
	box-shadow: 2em;
	outline-color: black;
	background-color: white;
	margin:auto;
	border-radius: 2em;
	border-style: inset;
	border-color: black;	
	margin-top: 2em;
	-webkit-box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
}
.ussd{
	width: 3em;
	height: 3em;
	padding-left: 1em;
	padding-bottom: 1.5em;
	float: left;
	
}
.transfer{
	padding-top: 2em;
	width: 3em;
	height: 3em;
	padding-left: 1em;
	float: right;
	

}
.pay_footer_info{
	color: black;
	font-family: 'Times New Roman', serif;
	text-align: center;
	font-size: 1em;
}
.pay_footer{
	height: 11em;
	width: 25em;
	background-color: #e5e4e2;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-style: inset;
	background-color: #ADD8E6;	

}
.pay_section_worker2{
	margin-left: 5em;
	margin-right: 2em;
	height: 10em;
	width: 15em;
}
.Unconfirmed{
	text-align: center;
	font-size: 1em;
}
.pay_section{
	height: 25em;
	padding-top: 5em;
	padding-bottom: 5em;
	margin-bottom: 2em;
}
.pay_section_worker1{
	margin-left: 5em;
	margin-right: 5em;
	padding-top: 3em;
	padding-bottom: 2em;
	background-color: #ADD8E6;
}
.pay_section_acctno{
	font-family: 'Times New Roman', serif;
	text-align: center;
	font-size: 1.2em;
}
.pay_section_bank
{
	font-family: 'Times New Roman', serif;
	text-align: center;
}
.pay_section_text{
	font-family: 'Times New Roman', serif;
	text-align: center;
	font-style: italic;
}
.pay_header{
	height: 7em;
	width: 25em;
	padding-top: 3em;
	padding-left: 2em;
	padding-right: 2em;
	background-color: #ADD8E6;

}

.pay_logo{
	float: left;
	size: 2em;
	width: 2em;
	height: 2em;
}

.pay_amount{
	float: right;
}
.pay_actualamt{
	font-family: Arial, sans-serif, serif;
	font-size: 1.2em;
	text-align: right;
}
.pay_email{
	font-size: 0.7em;
	text-align: right;
	font-style: italic;

}


.pay_section_worker3_container .pay_section_worker3_bar {
  width: 180px;
  height: 180px;
  /*   box-shadow: -10px -10px 20px #ffffffb2,
    inset 3px 3px 10px rgba(94, 104, 121, 0.288); */
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: #f9f9f9;
  margin-left: 2em;

}
.pay_section_worker3_bar::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset -10px -10px 50px #ffffffb2,
    inset 10px 10px 50px rgba(94, 104, 121, 0.945);
}
svg {
  width: 100%;
  height: 100%;
  position: absolute;
  fill: none;
}
svg circle {
  position: absolute;
  stroke: #96e82c;
  stroke-width: 0px;
  stroke-dashoffset: 500px;
  stroke-dasharray: 1200px;
  transform-origin: center;
  transform: scale(1);
  animation: bar 4s ease-in-out forwards;
}
.pay_section_worker3_number {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1em;
  font-family: monospace;
  color: #000;
}


.pay_section_worker3_config {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-family: cursive;
  color: #000;
  letter-spacing: 1px;
  text-align: center;
  max-height: 0;
  animation: blink 500ms 1.8s forwards;
}
.pay_section_worker3{
	padding-right: 5em;
	padding-left: 5em;
	padding-top: 4em
	padding-bottom: 2em;
	margin-bottom: 4em;
	margin-top: 2em;
}


.plogin_header{
	height: 5em;
	width: 13.3em;
	
	
	background-color: #e5e4e2;
	border-top-right-radius: 1.5em;
	border-top-left-radius: 1.5em;
	color: black;
	font-family: 'Times New Roman', serif;
	text-align: center;
	font-size: 1.5em;
	margin-top: 1em;
	
}
.plogin_section{
	padding-top: 2em;
}
.house{
	height: 25em;
	width: 20em;
	box-shadow: 1.5em;
	outline-color: black;
	background-color: white;
	margin:auto;
	border-radius: 1em;
	border-style: inset;
	border-color: black;
	
	margin-top: 5em;
	-webkit-box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
box-shadow: -2px -1px 22px 0px rgba(0,0,0,0.75);
}

input[type=checkbox] {
    width: 5mm;    
    height: 6mm;
   
}

